.header{
    color: $white;
    height: 35vh;

    .promo {
        a{
            margin-right: 20px;
            text-transform: capitalize;
        }
    }
    .social {
        i{
            padding-left: 20px;
        }
    }
    .hero{
        @include flex($direction:column, $align:center);
        .bread-crump{
            a{
                text-transform: capitalize;
                //désactiver le dernier
                &:last-child{
                    pointer-events:none
                }
                //pour l'ajout d'une flèche sauf pour le premier
                &:not(a:nth-of-type(1))::before{
                    content:"→";
                    padding: 0 20px;
                }
            }
        }
    }
}
//spécifique a la page home
.home .header {
    height: 100vh;
    background: url(../img/hero-bg.jpg) no-repeat center/cover;
    .hero{
        @include flex($direction:column, $align:flex-start);
        transform: translateY(25vh);
        h1{
            font-size: 4em;
        }
        p{
            &:nth-of-type(1){
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }
            &:nth-of-type(2){
                width: 50%;
                word-spacing: 0.2em;
            }
        }
        .btn {
            margin-top: 20px;
        }
    }
    @include mobile {
        height: 50vh;
        .hero{
            transform: translate(0);
            &>*{
                margin: 10px;
            }
            p:nth-of-type(2){
                width: 80%;
            }
            h1{
                font-size: 3em;
            }
        }
    }
}
//spécifique a la page blog
.blog .header {
    background: url(../img/hero-blog.jpg) center/cover;
}
//spécifique pour contact
.hotels .header {
    background: url(../img/hero-hotels.jpg) center/cover;
}
//spécifique pour hotels
.contact .header {
    background: url(../img/hero-contact.jpg) center/cover;
}
