//la navigation du header
.pre-nav, .main-nav{
    @include flex ($justify:space-between);
    padding: 20px;
}
.main-nav{
    background-color: rgba(255, 255, 255, 0.24);
    position: relative;
    .navig{
        @include flex($justify:center, $align:center);
        a{
            padding-left: 20px;
            text-transform: uppercase;
            line-height: 0;
        }
        display: none;
    }
}
//la navigation du footer
.footer-nav{
    .wrapper{
        border-top: 1px solid #aeaeae;
        padding-top: 20px;
        @include flex ($justify:space-between, $align:center);
    }
        span{
            color: $primary;
        }
}