.side-menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.329);
    position: fixed;
    opacity: 0;
    z-index: -1;
    .menu{
        width: 30%;
        height: 100%;
        background-color: $black;
        color: $white;
        @include flex ($direction:column);
        gap: 20px;
        padding: 40px;
        a{
            text-transform: uppercase;
            font-size: 1.1em;
        }
        transform: translateX(-100%);
        transition: 0.4s all ease-in-out;
    }
}
//pour l'apparition du menu avec le js
.open {
    opacity: 1;
    z-index: 2;
    .menu{
        transform: translateX(0);
        transition: 0.4s all ease-in-out;
    }
}