.blog main{
    background-color: $grey;
    p{
        color: #aeaeae;
    }
    .social {
        display: flex;
        i{
            color: $black;
            &:hover{
                color: $primary;
            }
        } 
    }
}
//pour mettre en place les 2 partie des la page
.blog-content{
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 2em;
    @include tablet {
        @include flex ($direction:column);
        margin: 0 80px
    }
    @include mobile {
        margin: 0 10px
    }
}

//la partie gauche
//partie blog
.principale{
    padding-top: 80px;
    @include flex($direction:column);
    img{
        width:100%
    }
}
.blog-txt{
    margin-top: 40px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 2em;
    .tag {
        margin-bottom: 30px;
    }
    .blog-info{
        @include flex($direction:column);
        text-align: end;
        @include mobile {
            @include flex ($direction:column, $justify:flex-start, $align:flex-start)
        }
    }
    h2{
        margin-top: 0;
    }
    @include mobile {
        grid-template-columns: 1fr;
    }
}
.info{
    a{
        display: block;
        margin: 20px 0;
    }
    i{
        padding-left: 10px;
    }
    @include mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10em;
        text-align: left;
    }
    
}

.txt-blanc{
    background-color: $white;
    padding: 20px;
    margin: 20px 0;
}
.double-img{
    @include flex($justify:space-around);
    margin: 20px 0;
    padding: 40px;
    gap: 20px;
    img{
        display: block;
        width: 50%;
    }
}

//la partie avec les coms
.navigation{
    margin-top: 80px;
    border-top: 1px solid #dedede;
    padding-top: 20px;
    padding-bottom: 40px;
    @include flex($justify:space-between, $align:center);
    .next {
        .avatar{
            order: 1;
        }
    }
}
//la fausse navigation
.prev, .next {
    @include flex($justify:center, $align:center);
    gap:10px;
    p{
        &:first-child{
            font-size: 0.9em;
        }
    }
    a{
        position: relative;
        height: 60px;
        //pour l'effet de hover
        &:before{
            content: "←";
            position: absolute;
            font-size: 2em;
            background-color: rgba(0, 0, 0, 0.192);
            line-height: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: 0.4s all ease-in-out;
        }
        img{
            width: 100%;
            height: 100%;
        }
        &:hover{
            &:before{
                color: white;
                opacity: 1;
                transition: 0.4s all ease-in-out;
            }
        }
    }
}
.next{
    a{
        &:before{
            content: "→";
        } 
    }
}
.comments {
    background-color: $white;
    border: 1px solid #dedede;
    padding: 20px;
    margin-bottom: 40px;
    h3{
        text-align: center;
    }
}
.comment{
    @include flex($justify:space-between, $align:center);
    .com-content {
        margin-left: -150px ;
        span{
            font-size: 1.4em;
            font-weight: 700;
            color: #000;
        }
        @include tablet {
            margin-left:0;
            font-size: 0.8em;
            font-weight: 700;
        }
    }
}
//le formulaire
.le-form{
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
    #subject{
        grid-column: span 2;
    }
    #textarea{
        grid-column: span 2;
    }
    .btn{
        width: 30%;
        grid-column: span 2;
        justify-self: center;
    }
}
//la partie droite
.aside{
    margin-top: 80px;
    padding: 20px;
    border: 1px solid #dedede;
    //tout les h2 du aside
    h2{
        text-transform: capitalize;
        background-color: $primary;
        padding: 10px ;
        color: $white;
        text-align: center;
        font-size: 1.5em;
    }
}
//la barre de recherche
.search-post{
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 40px;
    input{
        width: 100%;
        background-color: $primary;
        border: 1px solid $primary;
        border-radius: 20px;
        padding: 10px;
        &:focus {
            outline: none !important;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $white;
            opacity: 1; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $white;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $white;
        }
    }
    a{
        position: absolute;
        right: 10px;
        font-size: 1.4em;
        i{
            color: $white;
        }
    }
}
//la partie post
.post{
    padding: 40px 0;
    border-top: 1px solid #dedede;
    @include flex($direction:column, $justify:center, $align:center);
    text-align: center;
    .img{
        width: 150px;
        height: 150px;
        background: url(../img/blog/user-info.png) center/cover;
    }
    a{
        color: #000;
        span{
            font-weight: 700;
        }
        margin: 20px 0;
    }
}
//les posts populaire
.poster {
    border-bottom: 1px solid #dedede;
    padding-bottom: 40px;
}
.postit{
    @include flex($justify:space-between, $align:flex-start);
    div{
        width: 60%;
        h3{
            padding:0;
            margin: 0;
            font-size: 0.9em;
            text-transform: capitalize;
        }
        @include tablet {
            width: 80%;
        }
    }
}
//la pub
.add{
    border-bottom: 1px solid #dedede;
    padding-bottom: 40px;
    margin: 40px 0;
    img{
        display: block;
        width: 100%;
    }
}
//categorie
.post-cat {
    border-bottom: 1px solid #dedede;
    padding-bottom: 40px;
    margin:40px 0;
    .cat {
        @include flex($justify:space-between);
        border-bottom: 2px dotted #dedede;
        text-transform: capitalize;
    }
    a:hover{
        div{
            border-color: $primary;
            p{
                color: $primary;
            }
        }
    }
}
//newsletter
.post-news{
    margin: 40px 0;
    text-align: center;
    border-bottom: 1px solid #dedede;
    padding-bottom: 40px;
    .mail-form{
        i{
            right: 45%;
        }
        #submit{
            background-color: $primary;
            color: $white;
            &:hover{
                cursor: pointer;
            }
        }
        @include tablet {
            #submit {
                width: 20%
            }
            input{
                width: 80%;
            }
            i{
                right: 30%;
            }
        }
    }
}
//les tags    
.tags{
    @include flex;
    flex-wrap: wrap;
    gap: 4px;
    a{
        text-transform: capitalize;
        font-size: 0.9em;
        border: 1px solid #dedede;
        padding: 10px;
        background-color: $white;
        &:hover{
            background-color: $primary;
            color: $white;
        }
    }
}
